<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<system>
    <project configuration="@match" id="project_0" name="rtdma_ex1_basic_cpu1_cpu2_multi_c29x2">
    </project>
    <core id="C29xx_CPU2" project="project_0"/>
    <project configuration="@match" id="project_1" name="rtdma_ex1_basic_cpu1_cpu2_multi_c29x1">
    </project>
    <core id="C29xx_CPU1" project="project_1"/>
	<preBuildSteps>
	</preBuildSteps>
    <postBuildSteps>
    </postBuildSteps>

</system>
